.topbar_wrapper {
  background-color: #ffe600;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;

  .container {
    height: 100%;
    .topbar {
      display: flex;
      // justify-content: center;
      align-items: center;
      height: 100%;
    }

    .topbar__logo {
      height: 90%;
      margin-right: 30px;
    }

    .searchbar {
      display: flex;
      height: 100%;
      align-items: center;
      width: 100%;

      input {
        border: none;
        font-size: 18px;
        padding: 5px 10px;
        outline: none;
        width: 300px;
        height: 100%;
        width: 100%;
      }
      button {
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        height: 100%;
        width: 40px;
        padding: 0;
        margin: 0;
        :hover {
          cursor: pointer;
        }

        img {
          width: 15px;
          height: 15px;
        }
      }

      ::-webkit-input-placeholder {
        /* Chrome/Opera/Safari */
        font-size: 14px;
      }
      ::-moz-placeholder {
        /* Firefox 19+ */
        font-size: 14px;
      }
      :-ms-input-placeholder {
        /* IE 10+ */
        font-size: 14px;
      }
      :-moz-placeholder {
        /* Firefox 18- */
        font-size: 14px;
      }
    }
  }
}
